@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  height: 250px;
  margin: 0;
  place-items: center;
  font-family: 'nunito', sans-serif;
}

.bienvenida {
  display:inline-block ;
  padding: 15px;
  width: 100%;
  background-color: #111;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: aliceblue;
}

img{
  height: calc(var(500px) - 30px);
}

.cerrar_sesion {
  position: absolute;
  right: 0;
  background-color:white;
  color: #ff4d4d;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.cerrar_sesion:hover {
  background-color: #ff3333;
  color: aliceblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  align-items: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}