@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.bienvenida {
  width: 100%;
  margin: auto;
  text-align: center;
}

.header {
  background-color: #ffffff;
  color: #55608f;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 100px;
}

.cerrar_sesion {
  color: #ff4d4d;
  padding: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.cerrar_sesion:hover {
  background-color: #ff3333;
  color: aliceblue;
}

.menu {
  display: inline-block;
  background-color: #343D8E;
  color: white;
  padding: 15px 0;
  margin: 20px 0;
  text-align: center;
  border-radius: 5px;
}

.menu ul {
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  margin: 0 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.menu a:hover {
  background-color: #ffffff;
  color: #343D8E;
}